
//ログイン画面
.login_container{
  width: 100%;
  padding-top: 36px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.login_frame{
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
}

.login_text{
  margin-bottom: 1.5rem;
}

.login_inner{
  width: 360px;
  margin: 0 auto;
}

.login_field{
  width: 100%;
  max-width: 83.333333%;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
}

.login_field::before{
 content: "必須";
}

.field{
  display: flex;
  margin-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
}

.required{
 padding: 0 5px;
}

.required::before{
  content: "必須";
  color: white;
  background-color: #ff0000a8;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  margin: 0 5px;
}

//設定画面
.selection_settting{
  width: 100%;
  padding: 30px 15px;
}

.selection_settting a {
  font-size: 18px;
  padding: 10px;
}

.selection_change{
  color: #4a90e2;
  border-bottom: 3px solid #4a90e2;
}

.setting_frame div{
  border-bottom: 1px solid #eaedef;
  padding: 20px;
  margin: 0 15px;
  font-size: 1.25rem;
}

.account_email{
  font-weight: bold;
}

.edit_button_wrap{
  text-align: center;
}

.edit_button{
   display: block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   background-color: #4a90e2;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   color: white;
   cursor: pointer;
}

.account_edit a{
  color: white;
}


//アカウント編集
.account_edit_container{
  width: 100%;
  padding: 36px 15px;
  margin: 0 auto;
  font-size: 16px;
}

.account_edit_frame{
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(21,27,38,0.15) 0px 1px 3px 0px;
}

.account_edit_frame h2{
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

.account_edit_inner{
  width: 360px;
  margin: 0 auto;
}

.account_edit_field{
  margin-bottom: 1rem;
}

.back{
  display: block;
  color: #007bff;
  border: 1px solid #6c757d;
}

//プロフィール画面
.profile_field{
  font-size: 16px !important;
  font-weight: bold;
}

.profile_image_text{
  margin: 0;
}


#profile_introduction{
  height: auto;
}

.profile_required::after{
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.profile_image_box{
  text-align: center;
}

.profile_image{
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}